{% extends "utils/base.html" %}
{% block title %}Majestic Visualisation Data{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center pt-5">
                <h1>Majestic Data Visualisation</h1>

                <p>Select the data you want to visualise</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-6 p-5">
                <h2 class="pb-3">Estimated litres of soft drink consumed at a student hackathon.</h2>
                <a href="{% url 'view_data' data='drink' %}" class="btn-mj-red">Visualise Drink Data</a>
            </div>

            <div class="col-sm-6 p-5">
                <h2 class="pb-3">Estimated mass of sweets consumed during a student hackathon.</h2>
                <a href="{% url 'view_data' data='sweet' %}" class="btn-mj-red">Visualise Sweet Data</a>
            </div>
        </div>
    </div>
{% endblock %}
