<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Majestic Dinos - Vue Task 1">
    <meta name="author" content="Ighomena Odebala">
	<meta name="keywords" content="majestic-12 ltd, ighomena odebala, aston university">
    <meta name="language" content="en-GB">
    
    <title>Majestic Dinos</title>

    <link rel="icon" href="staticfiles/image/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="staticfiles/css/style.css">
    
    <!-- Vue JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <!-- Bootstrap CSS / JS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="app"> 
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Age</th>
                        <th>Is Alive</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="dino in dinos">
                        <td>{{ dino.name }}</td>
                        <td>{{ dino.type }}</td>
                        <td>{{ dino.age }}</td>
                        <td>{{ dino.isAlive }}</td>
                    </tr>
                </tbody>
            </table>
            
            <button @click="sortByAge" class="btn-mj-red">Sort by Age</button>

            <input type="text" v-model="search" name="search" placeholder="Search by name" class="form-control">
            <p v-show="error">Dino Not Found!</p>
        </div>
    </div>

    <script src="staticfiles/js/script.js"></script>
</body>

</html>